@media screen and (max-width: 480px) {
  .input--fullscreen {
    font-size: 8rem !important;
    border-bottom: 0.5rem solid white !important;
  }
}

@media screen and (max-width: 400px) {
  .input--fullscreen {
    font-size: 6rem !important;
    border-bottom: 0.5rem solid white im !important;
  }
}

.input--fullscreen {
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1rem solid white;
  color: white;
  font-size: 12rem;
  line-height: 1;
  text-align: left;
}

.input--fullscreen:focus::placeholder {
  color: transparent;
}